.header{
  height: 60px;
  width: 100vw;
  background: gray;
  padding: 5px 230px;
  display: flex;
  justify-content: space-between;

  .title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    
  }

  .devise{
    display: flex;
    padding-top: 5px;

    .login{
      margin-right: 30px;

      .log-in{
        background: rgb(201, 201, 201);
        height: 40px;
        width: 80px;

        &__text{
          text-align: center;
          padding-top: 7px; 
          font-weight: bold;
        }
      }
    }

    .new-user{
      background: rgb(201, 201, 201);
      height: 40px;
      width: 80px;

      &__text{
        text-align: center;
        padding-top: 7px; 
        font-weight: bold;
      }
    }
  }
}