.new-container{
  background: white;

  .card-content{

    .card-box{
      width: 1000px;
      margin: 0 auto;
      background: rgb(201, 201, 201);
      padding: 20px 180px;
      height: calc(100vh - 60px);
      overflow: scroll;

      .card-add{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
        color: black;
      }

      .card-title{
        width: 100%;
        height: 50px;
        margin-top: 40px;  
        padding: 10px;
      }

      .date-text{
        font-size: 25px;
        display: inline-block;
        margin-right: 30px;
        margin-top: 40px;
      }

      .card-date{
        height: 40px;
        width: 70px;
      }

      .card-comment{
        width: 100%;
        height: 350px;
        margin-top: 40px; 
        padding: 10px;
      }

      .card-button{
        width: 100%;
        height: 50px;
        margin-top: 40px; 
        background: gray;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}