.card-show__title-box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__title{
    font-size: 30px;
  }
}

.card-show__datetime-box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__datetime{
    font-size: 30px;
  }
}

.card-show__comment__box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__comment{
    font-size: 30px;
  }
}

.button-box{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .card-edit{

    &__box{
      background: gray;
      height: 50px;
      width: 270px;
      

      &-button{
        text-align: center;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .card-delete{
    // margin-left: 58px;

    &__box{
      background: gray;
      height: 50px;
      width: 270px;

      &-button{
        text-align: center;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}