.card-show__title-box{
  margin-top: 50px;

  &__text{
    font-size: 20px;
  }

  &__title{
    font-size: 30px;
  }
}

.card-show__datetime-box{
  margin-top: 50px;

  &__text{
    font-size: 20px;
  }

  &__datetime{
    font-size: 30px;
  }
}

.card-show__comment__box{
  margin-top: 50px;

  &__text{
    font-size: 20px;
  }

  &__comment{
    font-size: 30px;
  }
}