.card-show__title-box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__title{
    font-size: 30px;
  }
}

.card-show__datetime-box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__datetime{
    font-size: 30px;
  }
}

.card-show__comment__box{
  margin-top: 40px;

  &__text{
    font-size: 20px;
  }

  &__comment{
    font-size: 30px;
  }
}

.card-edit__box{
  margin-top: 40px;
  background: gray;
  height: 50px;
  width: 45%;
  display: inline-block;
  

  .card-edit__button{
    text-align: center;
    padding-top: 5px;
    font-size: 25px
  }
}

.card-delete__box{
  display: inline-block;
  margin-left: 58px;
  background: gray;
  height: 50px;
  width: 45%;

  .card-delete__button{
    text-align: center;
    padding-top: 5px;
    font-size: 25px
  }
}